<nav class="bottom-nav">
            
            <a href="{% url 'users:homepage' %}" class ="nav-item active">
                <i class="fa-solid fa-house"></i>
            </a>

            <a href="{% url 'missions:mission_list' %}" class="nav-item">
                <i class="fa-solid fa-list-ul"></i>
            </a>

            <a href="{% url 'missions:mission_create_view' %}" class="nav-fab">
                <div class="fab-button"><i class="fa-solid fa-plus"></i></div>
            </a>
            <div class="nav-item">
                <div class="icon-wrapper">
                    <i class="fa-regular fa-comment-dots"></i>
                    <span class="nav-badge">3</span>
                </div>
            </div>
            
            <a href="{% url 'users:mypage_screen' %}" class="nav-item">
                <i class="fa-regular fa-user"></i>
            </a>
            
        </nav>