<nav class="bottom-nav">
            <div class="nav-item active">
                <i class="fa-solid fa-house"></i>
                <span>홈</span>
            </div>
            <div class="nav-item">
                <i class="fa-solid fa-list-ul"></i>
                <span>미션</span>
            </div>
            <div class="nav-fab">
                <div class="fab-button"><i class="fa-solid fa-plus"></i></div>
            </div>
            <div class="nav-item">
                <div class="icon-wrapper">
                    <i class="fa-regular fa-comment-dots"></i>
                    <span class="nav-badge">3</span>
                </div>
                <span>채팅</span>
            </div>
            <div class="nav-item">
                <i class="fa-regular fa-user"></i>
                <span>마이</span>
            </div>
        </nav>