<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup</title>
</head>
<body>
    <label for="username">username</label>
    <input type="text" name="username" id="username">
    <label for="nickname">nickname</label>
    <input type="text" name="nickname" id="nickname">
    <label for="password">비밀번호</label>
    <input type="password" name="password" id="password">
    <label for="password_check">비밀번호 확인</label>
    <input type="password" name="password_check" id="password_check">
    <label for="email">Email</label>
    <input type="email" name="email" id="email">
    <button type="submit" onclick="send_number()">인증번호 발송</button>
    <div id="check_number_box" style="display:none;">
        <label for="number">인증번호 : </label>
        <input type="number" name="number" id="number">
        <button type="submit" onclick="check_number()">인증번호 확인</button>
    </div>
    <button type="submit" onclick="handleSignup()">submit</button>

    <script>
        let is_email_varified = false;
        let verified_email = ""

        function getCookie(name) {
            let cookieValue = null;
            if (document.cookie && document.cookie !== '') {
                const cookies = document.cookie.split(';');
                for (let i = 0; i < cookies.length; i++) {
                    const cookie = cookies[i].trim();
                    if (cookie.substring(0, name.length + 1) === (name + '=')) {
                        cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
                        break;
                    }
                }
            }
            return cookieValue;
        }

        async function handleSignup(){
            if (!is_email_varified){ // 학생메일 인증 누락시
                alert('학생메일 인증은 필수입니다!')
                return
            }

            const csrftoken = getCookie('csrftoken');

            const signupData = {
                username:document.getElementById('username').value,
                nickname:document.getElementById('nickname').value,
                password:document.getElementById('password').value,
                password_check:document.getElementById('password_check').value,
                email:verified_email
            }

            const response = await fetch('/users/signup-data/', {
                method:'POST',
                headers:{
                    'Content-Type' : 'application/json',
                    'X-CSRFToken': csrftoken
                },
                body:JSON.stringify(signupData)
            });

            if (response.ok) {
                alert("회원가입 성공! 이제 학교 인증을 진행해 주세요.");
                window.location.href = "/login-page/"; // 가입 후 로그인 페이지로 이동
            } else {
                const errorData = await response.json();
                console.error("에러 발생:", errorData);
                alert("가입 실패: " + JSON.stringify(errorData));
    }
        }

        async function send_number(){
            const email = document.getElementById('email').value
            const csrftoken = getCookie('csrftoken')

            if(!email){
                alert("이메일을 입력해주세요!")
                return
            }

            const response = await fetch('/users/verify-email/',{
                method:'POST',
                headers:{
                    'Content-Type':'application/json',
                    'X-CSRFToken':csrftoken
                },
                body: JSON.stringify({
                    email:email,
                    action:'send_email'
                })
            });
            if (response.ok){
                const data = await response.json();
                document.getElementById('check_number_box').style.display = 'block'
                alert(data.message + data.university);
            } else{
                const data = await response.json();
                alert("발송 실패: " + (data.message || "오류가 발생했습니다."));
            }
        }

        async function check_number(){
            const email = document.getElementById('email').value
            const number = document.getElementById('number').value
            const csrftoken = getCookie('csrftoken')

            if(!email){
                alert("이메일을 입력해주세요!")
                return;
            } else if(!number){
                alert("인증번호를 입력해주세요!")
                return;
            }

            const response = await fetch('/users/verify-email/',{
                method:'POST',
                headers:{
                    'Content-Type':'application/json',
                    'X-CSRFToken':csrftoken
                },
                body: JSON.stringify({
                    email:email,
                    number:number,
                    action:'check_number'
                })
            });
            if (response.ok){
                const data = await response.json();
                if (data.is_varified){
                    alert('인증 성공!')
                    is_email_varified = true
                    verified_email = data.email
                }
            } else{
                const data = await response.json();
                alert("발송 실패: " + (data.message || "오류가 발생했습니다."));
            }
        }
    </script>
</body>
</html>