{%extends "base.html"%}
{%load static%}

{% block title %}비밀번호 변경{% endblock %}

{%block extra_css %}
    <link rel="stylesheet" href="{%static 'users/css/signup.css'%}">
{% endblock %}
{%block extra_js %}{% endblock %}

{% block content %}
<div class="signup-container">
        <h2>비밀번호 변경</h2>

        <div class="input-group">
            <label for="password">비밀번호</label>
            <input type="password" name="password" id="password" placeholder="비밀번호" required>
        </div>

        <div class="input-group">
            <label for="password_check">비밀번호 확인</label>
            <input type="password" name="password_check" id="password_check" placeholder="비밀번호 재입력" required>
        </div>

        <button type="button" class="btn-main" onclick="handleSignup()">회원가입 완료</button>
        <div class="footer">
            <p>이미 계정이 있습니까?</p>
            <a href="{%url 'users:login'%}" id="signup">로그인하기</a>
        </div>
    </div>
{% endblock %}

{%block bottom_nav %}
{% endblock %}

{%block extra_scripts %}
    <script src="{%static 'users/js/signup.js'%}"></script>
{% endblock %}