{%load static%}
<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Signup - Uniquest</title>
    <link rel="stylesheet" href="{%static 'users/css/login.css'%}">
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@400;500;700&display=swap" rel="stylesheet">
</head>
<body>
    <div class="signup-wrapper">
        <button type="submit" onclick="logout()">로그아웃</button>
    </div>
    <script src="{%static 'users/js/logout.js'%}"></script>
</body>
</html>