{%load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="//dapi.kakao.com/v2/maps/sdk.js?appkey=0185d557a906f6d9e2bbd3f67a53bf4e&autoload=false&libraries=services"></script>
    <script src = "{% static 'missions/js/sy_map.js' %}" defer></script>
</head>
<body>
    지도임
    
    <div id="map" style="width:500px;height:400px;"></div>

    

</body>
</html>